@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
    font-family: "Lato-Black";

    src: url("https://nomail.com.ua/files/eot/9ff1710baadf935e7d7bc7c459fcabfe.eot?#iefix") format("embedded-opentype"),
        url("https://nomail.com.ua/files/woff/9ff1710baadf935e7d7bc7c459fcabfe.woff") format("woff"),
        url("https://nomail.com.ua/files/woff2/9ff1710baadf935e7d7bc7c459fcabfe.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
}

.header_container {
    margin: 0 auto;
    width: 1140px;
    padding: 0 35px;
}

.header {
    height: 100px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    display: flex;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header_right {
    display: flex;
    align-items: center;
}

.cart {
    position: relative;
    margin-right: 5px;
}

.cart svg {
    padding: 20px;
}

.cart:hover svg path {
    fill: #f16d7f;
}

.cart_logo_menu {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 17px;
    position: absolute;
    top: 65px;
    left: -50px;
    z-index: 5;
    width: 262px;
    border: 1px solid #e8e8e8;
    display: none;
}

.cart:hover .cart_logo_menu {
    display: block;
}

.cart_menu_item {
    display: flex;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cart_menu_item:first-child {
    padding-top: 0;
}

.cm_item_name {
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.cm_item_price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12px;
}

.cm_info {
    margin-left: 15px;
}

.cart_star {
    font-size: 12px;
    font-weight: 900;
    color: #e4af48;
    margin-right: -5px;
}

.cart_star:last-child {
    margin-right: 0;
}

.fa-times-circle {
    margin-left: 55px;
}

.cm_total_box {
    display: flex;
    justify-content: space-between;
}

.cm_total {
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 18px;
}

.cm_checkout {
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #f16d7f;
    padding-top: 18px;
    padding-bottom: 18px;
}

.cm_go_to {
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #9f9f9f;
    padding-top: 18px;
    padding-bottom: 18px;
}

.cart_logo_menu::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: -9px;
    left: 78px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.cart:hover .mega_box {
    display: flex;
}

.header_logo {
    color: #222222;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 0.68px;
    margin-left: 5px;
}

.letter {
    color: #f16d7f;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0.68px;
    margin-right: 37px;
}

.my_acc {
    display: block;
    border: 1px solid #f16d7f;
    background-color: #f16d7f;
    padding: 9px 19px;
    text-decoration: none;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    content: "\f156";
}

.my_acc:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    transition-duration: 0.5s;
}


.dropdown {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding: 8.5px 0 9px 10px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;

}

.search_field input {
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    border: none;


}

.search_field {
    border: 1px solid #e6e6e6;
    border-left: none;
    border-radius: 0 3px 3px 0;
}

.top_container {
    max-width: 1140px;
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
}

.wrapper {
    background-color: #e8e8e8;
}

.top_content {
    background: url(img/top_background.png) no-repeat;
    padding: 220px 0 280px;
}

.main_menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #ffffff;
}

.menu_link {
    text-decoration: none;
    background-color: #fff;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px 19px;
}

.top_text {
    width: 485px;
    border-left: solid 12px #f16d7f;
    animation: 2s text_anim linear forwards;
    position: relative;
    left: -100%;
}

@keyframes text_anim {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

.top_text_1 {
    color: #222222;
    font-family: "Lato-Black";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left: 12px;
}

.top_text_2 {
    letter-spacing: 1px;
    font-family: "Lato-Black";
    font-size: 30px;
    margin-left: 12px;
}

.fashion_top {
    letter-spacing: 1px;
    color: #f16d7f;
    text-transform: uppercase;
}

.cards_container {
    padding-top: 98px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
}

.card_item {
    position: relative;
}

.text_card {
    display: block;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato-Black";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: left;
    position: absolute;
    top: 26px;
    left: 0;
    padding: 16px 18px;
}

.card_image {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
    height: 100%;
}

.big_image {
    width: 560px;
    height: 542px;
    overflow: hidden;
}

.small_image {
    width: 560px;
    height: 261px;
}

.card_image:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

}

.card_lower_text {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.margin_right {
    margin-right: 20px;
}

.margin_bottom {
    margin-bottom: 20px;
}

.featured_container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured_header {
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.75px;
}

.featured_text {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.35px;
    padding-top: 15px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    max-width: 261px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-bottom: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.3s ease;
    position: relative;
}

.add_to_cart_button {
    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #ffffff;
    max-width: 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 70px;
    display: none;
    transition: 0.1s linear;
}

.add_to_cart_button:hover {
    color: #f16d7f;
    border-color: #f16d7f;
}

.add_to_cart_button svg {
    padding-right: 5px;
}

.add_to_cart_button svg path {
    transition: .1s linear;
}

.add_to_cart_button:hover svg path {
    fill: #f16d7f;
}



.item:hover .add_to_cart_button {
    display: flex;
    align-items: center;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}


.item_img {
    transition: 0.3s linear;
}

.item:hover .item_img {
    filter: brightness(0.3);
}

.header-mini {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding-top: 18px;
    margin-left: 20px;
    padding-bottom: 0;
}

.single_page_link {
    text-decoration: none;
}

.item_price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-top: 12px;
    margin-left: 20px;
}

.browse_all {
    padding-top: 15px;
}

.browse_all_button {
    display: block;
    background-color: #f16d7f;
    padding: 15px 19px;
    text-decoration: none;
    color: #ffffff;
    font-family: Lato;
    max-width: 210px;
    margin-top: 60px;
    border: 1px solid #f16d7f;
}

.browse_all_button:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    transition-duration: 0.5s;
}

.offer_parent {
    display: flex;
    margin: 0 auto;
    width: 1140px;
    max-height: 529px;
    padding-top: 110px;
    padding-bottom: 100px;
}

.offer_items {
    padding: 47px 36px 55px 37px;
    background-color: #222224;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.offer_item {
    /* display: block;
    display: flex;
    align-items: center; */
    position: relative;
    padding-bottom: 50px;
    min-width: 300px;
}

.item_content {
    padding-left: 75px;
}

.offer_header {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
}

.offer_text {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.offer_item:last-child {
    padding-bottom: 0;
}

.offer_logo {
    /* margin-right: 35px;
    margin-bottom: 140px; */
    position: absolute;
}

.offer {

    position: relative;
}

.offer_image_box {
    display: block;
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: left;
    position: absolute;
    top: 130px;
    left: 35px;
}

.offer_image_text2 {
    font-size: 32px;
    letter-spacing: 0.9px;
}

.offer_red_text {
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;
}

.open-menu {

    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    background-color: #cdcdcc;
    display: flex;
    align-items: center;
}

.open-menu form {
    border: 1px solid #e6e6e6;
    border-left: none;
}

.browse {
    border: 1px solid #e6e6e6;
    color: #222222;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 34px;
    padding: 0 7px 0 14px;
    letter-spacing: 0.35px;
    border-radius: 3px 0 0 3px;
}

.browse_menu {
    position: absolute;
    top: 36px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0 25px 20px 15px;
    border: 1px solid #ececec;
    z-index: 2;
    display: none;
}

.browse_menu::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    position: absolute;
    top: -5px;
    left: 72px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.browse_button {
    position: relative;
}

.browse_button:hover .browse_menu {
    display: block;
}

.search form {
    border-radius: 0 3px 3px 0;
    background-color: #fff;
    display: flex;
}

.header_input {
    border: none;
    padding: 9px 100px 10px 7px;
}

.header_input:focus {
    outline: none;
}

.search form button {
    color: #a4a4a4;
    font-size: 14px;
    background: none;
    border: none;
    border-left: 1px solid #e6e6e6;
    border-radius: 0 3px 3px 0;
}

.drop-menu-wrapper {
    position: absolute;
    z-index: 10;
    top: 35px;
    left: 0;
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
    display: none;
    border-radius: 5px;
    background-color: #fff;
}

.subscribe_container {
    background: url(img/subscribe_bg.png) bottom no-repeat;
    background-size: cover;

}

.subscribe_wrapper {
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.quote {
    color: #222224;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
    box-sizing: border-box;
}

.woman_pic {
    position: absolute;
    top: 111px;
    left: 0;
    transition: 0.8s linear;
}

.woman_pic:hover {
    transform: rotate(360deg);
}

.subscribe_info {
    text-align: left;
    color: #222224;
    max-width: 420px;
    position: relative;
}

.subscribe_left {
    padding: 111px 0 156px;
    align-items: center;
    margin-left: 100px;
}

.sub_span {
    margin-top: 40px;
    display: inline-block;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 12px;
}

.sub_span:last-child {
    margin-right: 0;
}

.active_span {
    background-color: #f16d7f;
}

.subscribe_right {
    margin-right: 100px;
}

.quote_author {
    padding-top: 7px;
    color: #f16d7f;
    font-size: 16px;
    font-family: "Lato-Black";
    letter-spacing: 0.4px;
    line-height: 20px;
}

h5 {
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.subscribe_header {
    color: #222224;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 145px;
    text-align: center;
    font-family: Lato;
}

h4 {
    font-size: 14px;
    padding-bottom: 25px;
    letter-spacing: 0.35px;
    line-height: 24px;
    font-family: Lato;
    text-align: center;
}

.sub_form {
    display: flex;
    justify-content: center;
    padding-bottom: 160px;
}

.sub_form input {
    padding: 16px 85px 16px 28px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
}

.sub_form button {
    color: #fff;
    padding: 15px 17px;
    background: #f16d7f;
    border-radius: 0 23px 23px 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.35px;
    border: none;
}

.sub_form button:focus {
    outline: none;
}


.sub_form button:hover {
    color: black;
    transition-duration: 0.5s;
}

.sub_form input:focus {
    outline: none;
}

.footer_container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    align-items: center;
    padding: 100px 0 90px;
    justify-content: space-between;
}

.footer_right {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
}

.footer_left {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.shop_name {
    display: flex;
    align-items: center;
}

.footer_text {
    color: #898989;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding-top: 35px;
}

.footer_header {
    color: #f16d7f;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
    line-height: normal;
    padding-bottom: 27px;
}

.footer_link {
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 59px;
    line-height: 42px;
    text-decoration: none;
}

.footer_link:hover {
    color: #f16d7f;
}

.company li {
    list-style: none;
    display: block;
    color: #898989;
    font-family: "Lato";
    font-size: 16px;
    line-height: 59px;
    letter-spacing: 0.4px;
    line-height: 42px;
}

.information li {
    list-style: none;
    display: block;
    color: #898989;
    font-family: "Lato";
    font-size: 16px;
    line-height: 59px;
    letter-spacing: 0.4px;
    line-height: 42px;
}

.shop_category li {
    list-style: none;
    display: block;
    color: #898989;
    font-family: "Lato";
    font-size: 16px;
    line-height: 59px;
    letter-spacing: 0.4px;
    line-height: 42px;
}

.mega_box {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
    position: absolute;
    display: none;
    background-color: white;
    top: 36px;
    left: -8px;
    z-index: 2;
}

.mega_box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    top: -9px;
    left: 42px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.kids {
    left: -310px;
}

.accessories {
    left: -370px;
}

.featured {
    left: -430px;
}

.hot_deals {
    left: -500px;
}

.kids::before {
    left: 345px;
}

.women::before {
    left: 56px;
}

.accessories::before {
    left: 150px;
}

.accessories::before {
    left: 437px;
}

.featured::before {
    left: 485px;
}

.hot_deals::before {
    left: 570px;
}

.mega_flex {
    margin-right: 45px;
}

.last_menu {
    margin: 0;
}

.mega_header {
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-bottom: 8px;
}

.menu_list {
    position: relative;
}

.menu_list:hover .mega_box {
    display: flex;
}

.mega_menu_item {
    list-style-type: none;
    padding-right: 0;
}

.mega_menu_link {
    text-decoration: none;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    display: block;
}

.menu_link:hover {
    border-top: 5px solid #f16d7f;
    transition-duration: 0.5s;
}

.mega_menu_link:hover {
    color: #f16d7f;
}

.mega_box_pic {
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.flex_padding {
    padding-top: 8px;
}

.sub_header {
    background-color: #f8f3f4;
}

.sub_header_wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    height: 145px;

}

.page_name {
    color: #f16d7f;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.path_link {
    color: #636363;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 400;
}

/* .path_link::after {
    content: "/";
} */
.path_link:last-child {
    color: #f16d7f;
    font-weight: 700;
}

.collection_display {
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous:hover,
.next:hover {
    background-color: #f16d7f;
    color: white;
}

.previous {
    background-color: #ddd;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 18px;
    font-size: 24px;
    font-weight: 400;
}


.description_box {
    display: flex;
    flex-direction: column;
    width: 1140px;
    position: relative;
    background-color: #fff;
    top: -85px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin: 0 auto;
    align-items: center;
    text-align: center;

}

.next {
    background-color: #ddd;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 18px;
    font-size: 24px;
    font-weight: 400;
}

.description_upper {
    max-width: 620px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 43px;
}

.top_description {
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
}

.item_name {
    color: #4d4d4d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.fa-star {
    color: #f1b746;
    margin-right: -5px;
}

.fa-search {
    padding: 10px;
}

.fa-caret-down {
    margin-left: 10px;
}

.item_description {
    padding-top: 15px;
    color: #5e5e5e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.material_box {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.designer {
    margin-left: 40px;
    color: #b9b9b9;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.material {
    color: #b9b9b9;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.material_name {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #2f2f2f;
}

.d_span {
    display: inline-block;
    width: 63px;
    border: 1px solid #eaeaea;
}

.middle_span {
    display: inline-block;
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
}

.price {
    color: #ef5b70;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding-top: 36px;
}

.choose_box {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    width: 618px;

}

.select_text {
    padding-bottom: 16px;
    color: #2f2f2f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.quantity_input {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}


.single_page_button {
    color: #ef5b70;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #ef5b70;
    width: 600px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s linear;
}

.single_page_button:hover {
    background-color: #ef5b70;
    color: #fff
}

.single_page_button:hover svg path {
    fill: #fff;
}

.also_like_text {
    color: #4d4d4d;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.also_like_container {
    max-width: 1140px;
    margin: 0 auto;
}

.also_like {
    padding-bottom: 95px;
    display: flex;
    justify-content: space-between;
}

.also_item {
    margin-right: 30px;
}

.also_item:last-child {
    margin-right: 0;
}

.shopping_cart {
    margin: 0 auto;
    max-width: 1140px;
}

.cart_header {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.card_header_left {
    text-transform: uppercase;
    justify-content: left;
}

.cart_header_title {
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.2px;
}

.cart_header_right {
    text-transform: uppercase;
    display: flex;
}

.cart_header_margin {
    margin-right: 95px;
}

.cart_header_margin:last-child {
    margin-right: 0;
}

.cart_item {
    display: flex;
}

.cart_content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeaea;
}

.cart_content_right {
    display: flex;
    align-items: center;
}

.cart_quantity_input {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.cart_column {
    margin-right: 128px;
}

.cart_column:last-child {
    margin-right: 15px;
}

.column_1 {
    margin-right: 125px;
}

.column_2 {
    margin-right: 112px;
}

.column_4 {
    margin-right: 75px;
}

.cart_item_content {
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.cart_item_info {
    margin-left: 20px;
}

.cart_item_name {
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-top: 10px;
}

.cart_size {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    color: #575757;
    font-weight: 700;
}

.color_name {
    color: #6f6e6e;
    font-family: Lato;
    font-weight: 300;
}

.clear_cart_buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 60px;
}

.clear_cart_button {
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 18px 37px;
    border: 1px solid #eaeaea;
}

.checkout_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.cart_shipping {
    display: flex;
    flex-direction: column;
}

.coupon {
    display: flex;
    flex-direction: column;
}

.checkout {
    display: flex;
    flex-direction: column;
    background-color: #f5f3f3;
    padding: 40px;
    max-height: 148px;
}

.checkout_input {
    display: inline-block;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 20px;
    padding: 15px 203px 15px 14px;
}

.quote_button {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    padding: 12px 12px;
    max-width: 100px;
}

.checkout_header {
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.coupon_text {
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 22px;
}

.coupon_button {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 12px 12px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    max-width: 118px;
}

.sub_total {
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    text-align: right;
}

.sub_price {
    margin-left: 20px;
}

.color_name {
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.grand_total {
    margin-top: 14px;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;

}

.grand_price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
}

.proceed_button {
    display: inline-block;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 40px;
    margin-top: 22px;
}

.proceed_button:hover {
    background-color: #fff;
    color: #f16d7f;
    transition-duration: 0.3s;
}

.total {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 22px;
}

.erase_button {
    border: none;
    background: none;
}

.fa-times-circle {
    color: #c0c0c0;
    align-self: center;
}

.fa-times-circle:hover {
    color: #f16d7f;
    transition-duration: .3s;
}

.copyright_container {
    background-color: #e6e6e6;
}

.copyright {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.rights {
    font-family: "Lato";
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #7a7a7a;
}

.social_media {
    display: flex;
}

.social_link {
    text-align: center;
    font-size: 20px;
    color: #b2b2b2;
    background-color: #ffffff;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
}

.social_link:hover {
    background-color: #f16d7f;
    color: #fff;
}